body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    margin: 40px;
}

h1 {
    color: #333;
    text-align: center;
}

form {
    width: 400px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
}

button {
    background-color: #0078D7;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

button:hover {
    background-color: #005bb5;
}