<!DOCTYPE html>
<html>
<head>
    <title>Internship Verification System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Internship Verification and Risk Assessment System</h1>

    <form action="/check" method="POST">
        <label>Company Name:</label><br>
        <input type="text" name="company_name" required><br><br>

        <label>Company Website:</label><br>
        <input type="text" name="website" required><br><br>

        <label>HR Email:</label><br>
        <input type="email" name="email" required><br><br>

        <label>LinkedIn Page Available?</label><br>
        <select name="linkedin">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select><br><br>

        <label>Does the internship ask for a registration fee?</label><br>
        <select name="fee">
            <option value="No">No</option>
            <option value="Yes">Yes</option>
        </select><br><br>

        <button type="submit">Check Internship</button>
    </form>

</body>
</html>